<<<<<<< HEAD
h1{
  text-align: center;
}

form{
  text-align: center;
}
h3{
  text-align: center;
}

p{
  text-align: center;
=======
h1 {
text-align: center;  
}
h3 {
  text-align: center;  
}
form {
  text-align: center;  
}
p {
   text-align: center; 
>>>>>>> 0dadce0d439995aafa0f5538f0ba6502dea7b0f1
}