<!DOCTYPE html>
<html>
   <head>
      <title>
      <title>Final Project!</title>
        <h1> Find My Park </h1>
      <link type="text/css" rel="stylesheet" href="css/style.css">
   </head>
   <body>
      <h3> Please insert your location </h3>
      <form action = "/results" method = "post">
         Location:
         <input type="text" name="play_location">
         <br>
         <h3> Insert the sport you want to play </h3>
        
        Sport:
      <select name="game_type">
          <option value="--">--</option>
          <option value="Basketball Courts">Basketball Courts</option>
          <option value="Soccer Fields">Soccer Fields</option>
          <option value="Baseball Fields">Baseball Fields</option>
        <option value="Hockey Rinks">Hockey Rinks</option>
      </select>
        
        <div class="Submit-button">
      <input class="Submit" type="Submit" value="Submit">
     </div>
        
       
      </form>
    
   </body>
  </head>
</html>