<DOCTYPE html>
  <html>
    <head>
      <title> Final Project!</title>
    </head>
    <body>
      <p>You want to play: <%=@game_type%> </p>
      <p> Here are the results for <%=@game_type%> fields in you area </p>
    </body>
  </html>

