<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <title> Final Project!</title>
  </head>
  <body>
    <p> You want to play: <%=@game_type%></p>
    
  </body>
</html>
=======
<DOCTYPE html>
  <html>
    <head>
      <title> Final Project!</title>
    </head>
    <body>
      <p>You want to play: <%=@game_type%> </p>
    </body>
  </html>
>>>>>>> 0dadce0d439995aafa0f5538f0ba6502dea7b0f1
