<!DOCTYPE html>
<html>
  <head>
    
    <title> Final Project!</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

   <link type="text/css" rel="stylesheet" href="css/style.css">
  </head>
  <body>
     <div class="choice-wrapper">
       <p class="choice-text"> Here are the results for <%=@neighborhood.game_venue%> in your area:</p>
    </div>
       <table class="location-table">
      <% @locations.each do |venue, address| %>
      <tr><td><%= venue %></td>
      <td><%= address %></td>
      </tr>
      <% end %>
    </table>
    <div class="back">
      <a class="back-button" href= "/">Back </a>
    </div>
  </body>
</html>